#burger {
    width: 400px;
    margin-top:50px;
    margin-left:400px;
    }
#top-bread {
    height: 100px;
    border-radius: 900px 900px 10px 10px;
    background-color: #A27732;
    border-top: 9px solid #906725;
    }
#lettuce {
    border-radius: 8px;
    background-color: #80D041;
    height: 8px;
    border-bottom: 3px solid #0F6D12;
}
#tomato {
    border-radius: 14px;
    background-color: #F13233;
    height: 20px;
    border-bottom: 5px solid #940C0E;
    }
#onion {
    border-radius: 8px;
    background-color: #B95381;
    height: 13px;
    border-bottom: 4px solid #7E1846;
    }
#cheese {
    background-color: #E8EA02;
    border-radius: 10px;
    height: 15px;
    border-bottom: 5px solid #EAB902;
    }
#beef {
    border-radius: 15px;
    background-color: #603102;
    height: 30px;
    border-bottom: 16px solid #402408;
    }
#bottom-bread {
    background-color: #A27732;
    border-radius: 10px 10px 50px 50px;
    height: 60px;
    border-bottom: 11px solid #724D12;
    }
.imagetitle{
    width :100px;
    height:100px;

}
.headerdiv{
    background-color: #0F6D12;
    display:flex;
}
h1{
    margin-left:450px;
}
section{
    display:flex;
}
.menu{
    margin-top:-250px;
    margin-left:-300px;
}
.Button{
    margin-top:0px;
}
@media (maxwidth<600px){
    body{
        display:block;
    }
}