body {
  font-family: "Roboto", sans-serif;
}

.section1 {
  background-image: url("media/slideshow-9.jpg");
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navBar {
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  width: 80px;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.option {
  padding: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  color: #fca311;
  text-decoration: none;
}

.butt {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

/* -------------------------------------*/

.funnel {
  padding: 100px;
  padding-right: 0px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0px;
}

.h2 {
  color: #fca311;
  font-size: 30px;
  font-weight: 200;
  padding: 0px;
}

.h1 {
  margin-top: 0px;
  padding: 0px;
  color: white;
  font-size: 60px;
  font-weight: 900;
  line-height: 40px;
}

.h3 {
  padding: 0px;
  margin-top: 0px;
  color: white;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 0px;
}

.order {
  margin: 10px;
  color: white;
  border: white 0.5px solid;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  text-decoration: none;
}

.order:hover {
  background-color: rgb(174, 147, 115);
  font-weight: 300;
  transition: all 0.5s;
}

/* -------------------------------------*/

.section2,
.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}

.slogan {
  font-size: 30px;
  font-weight: 900;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  background-color: black;
}

.img1 {
  display: flex;
  width: 100%;
  height: 700%;
}

.description {
  margin: 20px;
  color: white;
  font-size: 15px;
}

.read-more {
  margin: 10px;
  margin-bottom: 20px;
  color: #fca311;
  border: #fca311 0.5px solid;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  text-decoration: none;
}

.read-more:hover {
  background-color: rgb(174, 147, 115);
  color: #fca311;
  font-weight: 300;
  transition: all 0.5s;
}

/* -------------------------------------*/

.section3 {
  background-image: url("media/our-menu-bg-3.jpg");
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  height: fit-content;
}

.section3 .h1 {
  font-size: 30px;
  font-weight: 900;
}

.menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.col {
  padding: 50px;
}

.menu-type {
  color: #fca311;
  font-size: 15px;
  font-weight: 400;
}

.p1 {
  margin: 20px;
  color: white;
  font-size: 15px;
  font-weight: 200;
}

/* -------------------------------------*/
.section5 {
  background-color: rgb(44, 44, 44);
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.booking .h1 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 900;
  /* margin-left: 30%; */
  margin-bottom: 0px;
}

.booking-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.book-btn {
  margin-bottom: 50px;
  width: 120px;
  background-color: #fca311;
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.book-btn:hover {
  background-color: rgb(174, 147, 115);
  transition: all 0.5s;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.booking-img {
  width: 50%;
}

.fields {
  width: 130px;
  height: 30px;
  background-color: rgb(44, 44, 44);
  color: rgb(162, 162, 162);
  border: #fca311 0.5px solid;
  font-weight: 130;
  margin: 10px;
}

/* -------------------------------------*/

.footer {
  min-height: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.container {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer .logo {
  padding-top: 20px;
  width: 120px;
  height: 90px;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.rights {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: #fca311 1px solid;
}

@media (max-width: 1800px) {
  .section1 .h1 {
    font-size: 50px;
    font-weight: 700;
  }
}

@media (max-width: 1200px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .funnel {
    width: 100%;
    padding: 0px;
    margin-top: 100px;
    transition: all 1s;
  }

  .booking {
    width: 100%;
  }

  .booking-img {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div {
    border-bottom: #fca311 1px solid;
  }

  .div:last-child {
    border-bottom: 0px;
  }
}

@media (max-width: 750px) {
  .butt {
    display: none;
  }

  .navBar {
    justify-content: center;
    transition: all 1s;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.status {
  margin-top: -3em;
  font-weight: 100;
  font-size: 0.9rem;
  color: #ffcd7d;
  text-align: center;
}
